:root {
    --ligth-pink: #ffcad4;
    --backgr: #fffceb;
    --ligth-yellow: #fcf6bd;
    --ligth-green: #d0f4de;
    --ligth-blue: #a9def9;
    --ligth-purple: #e4c1f9;
    --dark-pink: #ff595e;
    --dark-yellow: #ffca3a;
    --dark-green: #8ac926;
    --dark-blue: #1982c4;
    --dark-purple: #6a4c93;
    --next-btn: #bc4749;
    --next-btn-ligth: #f2e8cf;
    --timer-color: #3c096c;
    --secon-timer-color: #ff6d00;
    --timeline: #ff6d00;
}